img { float: left; 
    height: 50px; 
    width: 80px;
    margin-top: 100px;
    margin-right: 10px; 
}

h1 { border-bottom-style: inset;
    text-align: center; 
}

.botao{
    text-align: center;
}

table { 
    border-collapse: collapse; 
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td { 
    border: 1px solid black; 
    padding: 5px;
    text-align: center;
}
